body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #00989d;
}

.upper-box{
    position: relative;
    display: flex;
    height: 33%;
    background-color: #00989d;
}

.upper-box div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;    
    border: white 0.8rem solid;    
}

.circle {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.circle1{
    background-color: #fe8888;
    width: 37px;
    height: 37px;
    top: 20px;
    left: 55px;
    z-index: 1;
}

.circle2 {
    background-color: rgb(255, 255, 127);
    width: 125px;
    height: 125px;
    top: 55px;
    left: 200px;
    z-index: 1;
}
.circle3{
    background-color: #fe8888;
    width: 37px;
    height: 37px;
    top: 50px;
    left: 450px;
    z-index: 1;
}

.circle6 {
background-color: #fe8888;
width: 125px;
height: 125px;
top: 155px;
left: 335px;
z-index: 1;
}

.circle4 {
    background-color: #fe8888;
    width: 37px;
    height: 37px;
    top: 180px;
    left: 55px;
    z-index: 1;
}

.circle5 {
    background-color: rgb(255, 255, 132);
    width: 39px;
    height: 39px;
    top: 300px;
    left: 150px;
    z-index: 1;
    }

    #figure-1{
        position: absolute;
        z-index: 1;
        left: 327px;
        bottom: 0px;
        width:165px
    }
    #figure-2{
        position: absolute;
        bottom: 0px;
        width:330px;
        z-index: 1;
    }

    .triangle{
        position: absolute;
        right: 0;
        bottom: 0;
        border-style: solid;
        border-width: 0 0 0 250px;
        height: 0;
        z-index: 1;
    }

    .triangle-small {
        width: 0;
        height: 150px;
        border-bottom: 300px solid #c9e265;
        border-left: 180px solid transparent;
        border-right:180px solid transparent;
        z-index: 2;
    }

    .triangle-big {
        width: 0;
        height: 0;
        border-bottom:500px solid #008036;
        border-left: 240px solid transparent;
        border-right:220px solid transparent;
        right: calc(50% - 430px);
       
    }
